# Ignore Python virtual environments
venv/
.env/

# Ignore pipenv
.Python

# Ignore macOS system files
.DS_Store

# Ignore editor-specific files
.idea/
.vscode/

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore logs and data files
*.log
*.csv

# Ignore SQLite database files
*.sqlite3

# Ignore sensitive or environment-specific files
.env
.env.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
