{% extends "base.html" %}

{% block title %}Confirm Booking{% endblock %}

{% block extra_head %}
{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'landing/cart.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<main class="container min-vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="cart-container">
        <div class="cart-content">
            <ul class="cart-items">
                {% for cart_item in cart.items.all %}
                    <li class="cart-item">
                        {% if cart_item.workshop.image %}
                            <img src="{{ cart_item.workshop.image.url }}" alt="{{ cart_item.workshop.title }}">
                        {% else %}
                            <p>No Image Available</p>
                        {% endif %}
                        <div class="item-details">
                            <h3>{{ cart_item.workshop.title }}</h3>
                            <p>Price: €{{ cart_item.workshop.price }}</p>
                            <p>Date and Time: {{ cart_item.date_time }}</p>
                            <p>Quantity: {{ cart_item.quantity }}</p>

                            <!-- Form for removing item from cart -->
                            <form class="remove-item-form" action="{% url 'remove_cart_item' cart_item.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{ cart_item.id }}">
                                <button type="submit" class="remove-item-btn">Remove</button>
                            </form>
                        </div>
                    </li>
                {% empty %}
                    <li>Your cart is empty.</li>
                {% endfor %}
            </ul>
        
            <!-- Book Now Button -->
            <form action="{% url 'book_now' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="book-now-btn">Book Now</button>
            </form> <br>
        
            <a href="{% url 'workshop_list' %}" class="continue">Continue Shopping</a>
        </div>
    </div>
</main>

<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}


