{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block extra_head %}
{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link href="{% static 'signup/signup.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="container min-vh-100 d-flex flex-column justify-content-center align-items-center">
    {% if user.is_authenticated %}
    <div class="text-center mb-5">
        <h1>Hi {{ user.username }}!</h1>
        <p><a href="{% url 'password_change' %}" class="btn btn-primary">Password Change</a></p>
        <form action="{% url 'logout' %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Log Out</button>
        </form>
    </div>
    {% else %}
    <div class="text-center mb-5 additional-buttons">
        <p>You are not logged in</p>
        <div class="d-flex flex-column align-items-center">
            <a href="{% url 'password_reset' %}" class="btn btn-primary">Continue Password Reset</a>
            <a href="{% url 'login' %}" class="btn btn-primary">Back To Log In</a> <br><br>
            <a href="{% url 'signup' %}" class="btn btn-primary mt-3">Sign Up</a> 
        </div>
    </div>
    {% endif %}
</main>
{% endblock %}

